{% extends "layout.html" %}

{% block title %}Chat{% endblock %}
{% block head %}
<script type="text/javascript" src="/static/js/chat.js" defer></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
{% endblock %}
{% block content %}
  <h1 class="text-white text-center mt-5">Chat</h1>
  <div id="chat-container" class="container rounded bg-dark text-white">
    <h1>rep chat</h1>
    <div id="chat-box" class="bg-light text-dark">
    </div>
    <input id="chat-user" type="hidden" value="{{ session['username'] }}">
    <div class="input-group">
      <input type="text" id="message-input" class="form-control mt-1" onkeypress="checkSend(event)">
      <div class="input-group-append">
        <button type="submit" id="send-chat" class="btn btn-outline-light" onclick="sendMessage(this.parentElement.previousElementSibling)">Send</button>
      </div>
    </div>
  </div>
{% endblock %}
