{% extends "layout.html" %}

{% block title %}Home{% endblock %}
{% block heading %}
  <h1 class="text-center"><i class="fas fa-music"></i> Repertoirium <i class="fas fa-music"></i></h1>
{% endblock %}
{% block content %}
  {% if loggedIn %}

    <h3>Welcome back, <em class="text-success">{{session["username"]}}</em>!</h3>
    <form action="" method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <input type="hidden" name="action" value="logout">
      <button type="submit" class="btn btn-primary">logout</button>
    </form>
    <form action="" method="post" class="form-inline">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <input type="hidden" name="action" value="search">
      <div class="form-group mr-2">
        <input name="search-term" class="form-control" required>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">search</button>
      </div>
    </form>
    <div class="row">
      <div class="col col-md-12 col-lg-4 bg-dark text-white">
        <h3 class="text-center">Want to Learn</h3>
        <ul class="want_to_learn dropzone sortable list-group">
        {% if session["repertoir"]["want_to_learn"] %}
          {% for song in session["song_data"] %}
            <div class="song-box">
              <li class="list-group-item-dark mb-2">
                <h4><a href="{{song['link']}}">{{song["title"]}}</a></h4>
                <h6>by <a href="{{song['artist']['link']}}">{{song["artist"]["name"]}}</a></h6>
                <i id="{{song['id']}}" class="trash-icon fas fa-trash"></i>
                <a class="sheet-link" id="{{song['artist']['name'] + ' - ' + song['title']}}"><i class="fas fa-scroll fa-flip-vertical"></i></a>
              </li>
            </div>
          {% endfor %}
        {% else %}
          <div class="song-box">
            <li class="list-group-item-dark mb-2">
              <h4>No songs in your repertoir yet :(</h4>
            </li>
          </div>
        {% endif %}
        </ul>
      </div>
      <div class="col col-md-12 col-lg-4 bg-dark text-white">
        <h3 class="text-center">Learning</h3>
        <ul class="learning sortable dropzone list-group">
        {% if session["repertoir"]["learning"] %}
          {% for song in session["song_data"] %}
            <div class="song-box">
              <li class="list-group-item-dark mb-2">
                <h4><a href="{{song['link']}}">{{song["title"]}}</a></h4>
                <h6>by <a href="{{song['artist']['link']}}">{{song["artist"]["name"]}}</a></h6>
                <i id="{{song['id']}}" class="trash-icon fas fa-trash"></i>
                <a class="sheet-link" id="{{song['artist']['name'] + ' - ' + song['title']}}"><i class="fas fa-scroll fa-flip-vertical"></i></a>
              </li>
            </div>
          {% endfor %}
        {% else %}
          <div class="song-box">
            <li class="list-group-item-dark mb-2">
              <h4>No songs in your repertoir yet :(</h4>
            </li>
          </div>
        {% endif %}
        </ul>
      </div>
      <div class="col col-md-12 col-lg-4 bg-dark text-white">
        <h3 class="text-center">Learned</h3>
        <ul class="learned dropzone sortable list-group">
          {% if session["repertoir"]["learned"] %}
            {% for song in session["song_data"] %}
              <div class="song-box">
                <li class="list-group-item-dark mb-2">
                  <h4><a href="{{song['link']}}">{{song["title"]}}</a></h4>
                  <h6>by <a href="{{song['artist']['link']}}">{{song["artist"]["name"]}}</a></h6>
                  <i id="{{song['id']}}" class="trash-icon fas fa-trash"></i>
                  <a class="sheet-link" id="{{song['artist']['name'] + ' - ' + song['title']}}"><i class="fas fa-scroll fa-flip-vertical"></i></a>
                </li>
              </div>
            {% endfor %}
          {% else %}
            <div class="song-box">
              <li class="list-group-item-dark mb-2">
                <h4>No songs in your repertoir yet :(</h4>
              </li>
            </div>
          {% endif %}
        </ul>
      </div>
    </div>
    <script>
      $(".sheet-link").click(function() {
        var searchTerm = $(this).attr("id")
        window.open("https://www.google.com/search?q=" + searchTerm + " sheet music", "_blank")
      })
      $(".sortable").sortable({
        connectWith: ".sortable",
        revert: true,
        placeholder: "list-highlight-placeholder"
      });
      $( "ul, li" ).disableSelection();
      $(".dropzone").droppable({
        drop: function(event, ui) {
          $(this).css("background", "lime");
        },
        over: function(event, ui) {
          $(this).css("background", "orange");
        },
        out: function(event, ui) {
          $(this).css("background", "green");
        }
      })

      $(".trash-icon").click(function(){
        songToRemove = $(this).attr("id")
        list = $(this).parent().parent().parent().attr("class")
        console.log(songToRemove)
        $(this).parent().remove()
        $.ajax({
          url: "/process",
          type: "GET",
          data: {
            action: "delete",
            id: songToRemove,
            from: list
          },
          success:function(){
            console.log("ajax worked")
          }
        })
      })

    </script>
  {% else %}
    <a href="/register">register</a>
    <a href="/login">login</a>
  {% endif %}
{% endblock %}
