{% extends "layout.html" %}

{% block title %}Home{% endblock %}
{% block head %}
  <script type="text/javascript" src="/static/js/index.js" defer></script>
{% endblock %}
{% block content %}
  {% if loggedIn %}
    <h3 class="text-center text-white mt-5">Welcome back, <em>{{session["username"]}}</em>!</h3>
    <div id="lists-container" class="container row mt-4">
      <div class="list-container col-4 bg-dark text-white border rounded-left">
        <h3 class="text-center">Want to Learn</h3>
        <ul id="want_to_learn" class="dropzone list-group">
        {% if session["repertoir"]["want_to_learn"] %}
          {% for id, data in session["repertoir"]["want_to_learn"].items() %}
            <li data-songdata="{{data}}" id="_{{id}}" draggable="true"class="song-box list-group-item mb-2 p-1">
              <h6 class="mb-0">
                <a class="songTitle" href="{{data['link']}}">{{data["title"]}}</a>
                {% if data["tags"] %}
                  {% for tag in data["tags"]%}
                  <span class="song-tag hover-pointer badge badge-primary">{{tag}}</span>
                  {% endfor %}
                {% endif %}
              </h6>
              <p class="mb-0">by <a class="artist" href="{{data['artist']['link']}}">{{data["artist"]["name"]}}</a></p>
              <i hidden title="Delete Item" onclick="deleteSong('{{id}}', this.parentElement.parentElement.id)" class="trash-icon hover-pointer fas fa-trash"></i>
              <i hidden title="Search for sheet music" onclick="searchForSheets(String.raw`{{data['artist']['name'] + ' - ' + data['title']}}`)" class="sheet-icon hover-pointer fas fa-scroll fa-flip-vertical"></i>
              <i hidden title="Edit Item" onclick="editEntry(String.raw`{{data['title']}}`, '{{data['artist']['name']}}', '{{id}}', this.parentElement.parentElement.id)" class="edit-icon hover-pointer fas fa-edit"></i>
            </li>
          {% endfor %}
        {% endif %}
        </ul>
      </div>
      <div class="list-container col-4 bg-dark text-white border">
        <h3 class="text-center">Learning</h3>
        <ul id="learning" class="sortable dropzone list-group">
        {% if session["repertoir"]["learning"] %}
        {% for id, data in session["repertoir"]["learning"].items() %}
          <li data-songdata="{{data}}" id="_{{id}}" draggable="true" class="song-box list-group-item mb-2 p-1">
            <h6 class="mb-0">
              <a class="songTitle" href="{{data['link']}}">{{data["title"]}}</a>
              {% if data["tags"] %}
                {% for tag in data["tags"]%}
                <span class="song-tag hover-pointer badge badge-primary">{{tag}}</span>
                {% endfor %}
              {% endif %}
            </h6>
            <p class="mb-0">by <a class="artist" href="{{data['artist']['link']}}">{{data["artist"]["name"]}}</a></p>
            <i hidden title="Delete Item" onclick="deleteSong('{{id}}', this.parentElement.parentElement.id)" class="trash-icon hover-pointer fas fa-trash"></i>
            <i hidden title="Search for sheet music" onclick="searchForSheets(String.raw`{{data['artist']['name'] + ' - ' + data['title']}}`)" class="sheet-icon hover-pointer fas fa-scroll fa-flip-vertical"></i>
            <i hidden title="Edit Item" onclick="editEntry(String.raw`{{data['title']}}`, '{{data['artist']['name']}}', '{{id}}', this.parentElement.parentElement.id)" class="edit-icon hover-pointer fas fa-edit"></i>
          </li>
        {% endfor %}
        {% endif %}
        </ul>
      </div>
      <div class="list-container col-4 bg-dark text-white border rounded-right">
        <h3 class="text-center">Learned</h3>
        <ul id="learned" class="dropzone sortable list-group">
          {% if session["repertoir"]["learned"] %}
          {% for id, data in session["repertoir"]["learned"].items() %}
            <li data-songdata='{{data}}' id="_{{id}}" draggable="true"class="song-box list-group-item mb-2 p-1">
              <h6 class="mb-0">
                <a class="songTitle" href="{{data['link']}}">{{data["title"]}}</a>
                {% if data["tags"] %}
                  {% for tag in data["tags"]%}
                  <span class="song-tag hover-pointer badge badge-primary mr-1">{{tag}}</span>
                  {% endfor %}
                {% endif %}
              </h6>
              <p class="mb-0">by <a title="artist's deezer page" class="artist" href="{{data['artist']['link']}}">{{data["artist"]["name"]}}</a></p>
              <i hidden title="Delete Item" onclick="deleteSong('{{id}}', this.parentElement.parentElement.id)" class="trash-icon hover-pointer fas fa-trash"></i>
              <i hidden title="Search for sheet music" onclick="searchForSheets(String.raw`{{data['artist']['name'] + ' - ' + data['title']}}`)" class="sheet-icon hover-pointer fas fa-scroll fa-flip-vertical"></i>
              <i hidden title="Edit Item" onclick="editEntry(String.raw`{{data['title']}}`, '{{data['artist']['name']}}', '{{id}}', this.parentElement.parentElement.id)" class="edit-icon hover-pointer fas fa-edit"></i>
            </li>
          {% endfor %}
          {% endif %}
        </ul>
      </div>
    </div>
    <div id="modal">
      <div id="modal-content" class="bg-light">
        <span class="close-modal" onclick="closeModal(this.parentElement.parentElement)">&times;</span>
        <h4 id="modal-title"></h4>
        <h6 id="modal-artist"></h6>
        <label for="track-tempo">Track Tempo Progress?</label>
        <input id="track-tempo" type="checkbox" onchange="toggleTrackTempo(this)">
        <div id="tempo-track-container" hidden>
          <div id="tempo-progress-container">
            <h4 id="tempo-progress-feedback" class="text-center text-success" hidden>Congrats, you reached your goal!</h4>
            <h5>Starting Tempo: <b id="starting-tempo" class="text-primary"></b> <i id="start-tempo-icon" title="Set Starting Tempo" onclick="toggleInput(this.nextElementSibling.nextElementSibling)" class="edit-icon hover-pointer fas fa-edit"></i>
              <div id="update-starting-tempo-container" class="input-group mb-2 mt-2">
                <input onkeypress="checkSend(event)" id="tempo-update-field" class="form-control-sm" type="text">
                <div class="input-group-append">
                  <button onclick="addTempo(this.parentElement.previousElementSibling)" class="btn btn-sm btn-outline-dark">+</button>
                </div>
              </div>
            </h5>
            <h5>Current Tempo: <b id="current-tempo" class="text-primary"></b> <i title="Update Current Tempo" onclick="toggleInput(this.nextElementSibling.nextElementSibling)" class="edit-icon hover-pointer fas fa-edit"></i>
              <div id="update-tempo-container" class="input-group mb-2 mt-2">
                <input onkeypress="checkSend(event)" id="tempo-update-field" class="form-control-sm" type="text">
                <div class="input-group-append">
                  <button onclick="addTempo(this.parentElement.previousElementSibling)" class="btn btn-sm btn-outline-dark">+</button>
                </div>
              </div>
            </h5>
            <h5 class="mb-0">Goal Tempo: <b id="desired-tempo" class="text-secondary"></b> <i title="Update Goal Tempo" onclick="toggleInput(this.nextElementSibling.nextElementSibling)" class="edit-icon hover-pointer fas fa-edit"></i>
              <div id="update-desired-tempo-container" class="input-group mb-2 mt-2">
                <input onkeypress="checkSend(event)" id="desired-tempo-update-field" class="form-control-sm" type="text">
                <div class="input-group-append">
                  <button onclick="addTempo(this.parentElement.previousElementSibling)" class="btn btn-sm btn-outline-dark">+</button>
                </div>
              </div>
            </h5>
            <h6 class="text-center m-2">Tempo Progression</h6>
            <div class="progress bg-dark mt-2 mb-2 text-white">
              <div id="tempo-progress-bar" class="progress-bar" role="progressbar"></div>
            </div>
          </div>
          <small class="text-primary hover-pointer" onclick="resetTempoData()">Reset Tempo Data for this song?</small>
          <div id="tempo-logs-container" class="mb-2 text-secondary">
            <div id="tempo-logs-toggle" class="text-center m-0 w-auto">
              <small class="hover-pointer" onclick="toggleTempoHistory()">Tempo History</small>
              <div class="text-center"><i id="tempo-history-chevron" class="fas fa-chevron-down hover-pointer" onclick="toggleTempoHistory()"></i></div>
            </div>
            <div id="tempo-logs" class="bg-dark text-white p-2">
            </div>
          </div>
        </div>
        <div class="input-group tag-options-container float border border-dark border-right-0 border-bottom-0 border-left-0 pt-4">
          <label for="tag-edit">Give this song a tag</label>
          <input onkeypress="checkSend(event)" id="tag-edit" class="form-control-sm" type="text">
          <div class="input-group-append">
            <button onclick="applyTag(this.parentElement.previousElementSibling)" class="btn btn-sm btn-outline-dark">+</button>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <h1 class="text-center"><a href="/" class="text-decoration-none text-white"><i class="fas fa-music"></i> Repertoirium <i class="fas fa-music"></i></a></h1>
    <div class="container mt-4 bg-dark">
      <h4 class="text-center text-white">Repertoirium is the perfect tool for any musician</h4>
      <div id="welcomeList" class="container">
        <ul class="text-white">
          <li>Manage your repertoir easily</li>
          <li>Search for any song</li>
          <li>track your progress with</li>
        </ul>
      </div>
      <button class="btn btn-light btn-lg m-2" onclick="location.href='/register'">Join Today</button>
      <button class="btn btn-light m-2" onclick="location.href='/login'">Login</button>
    </div>
  {% endif %}
{% endblock %}
