{% extends "layout.html" %}

{% block title %}Home{% endblock %}
{% block head %}
  <script type="text/javascript" src="/static/js/index.js" defer></script>
{% endblock %}
{% block content %}
  {% if loggedIn %}

    <h3 class="text-center text-white mt-5">Welcome back, <em>{{session["username"]}}</em>!</h3>
    <div id="lists-container" class="container row mt-4">
      <div class="list-container col-12 col-md-4 bg-dark text-white">
        <h3 class="text-center">Want to Learn</h3>
        <ul id="want_to_learn" class="dropzone list-group">
        {% if session["repertoir"]["want_to_learn"] %}
          {% for id, data in session["repertoir"]["want_to_learn"].items() %}
            <li id="_{{id}}" draggable="true"class="song-box list-group-item mb-2 p-1">
              <h6 class="mb-0">
                <a class="songTitle" href="{{data['link']}}">{{data["title"]}}</a>
                {% if data["tags"] %}
                  {% for tag in data["tags"]%}
                  <span class="song-tag badge badge-primary">{{tag}}</span>
                  {% endfor %}
                {% endif %}
              </h6>
              <p class="mb-0">by <a class="artist" href="{{data['artist']['link']}}">{{data["artist"]["name"]}}</a></p>
              <i hidden title="Delete Item" onclick="deleteSong('{{id}}', this.parentElement.parentElement.id)" class="trash-icon fas fa-trash"></i>
              <i hidden title="Search for sheet music" onclick="searchForSheets(String.raw`{{data['artist']['name'] + ' - ' + data['title']}}`)" class="sheet-icon fas fa-scroll fa-flip-vertical"></i>
              <i hidden title="Edit Item" onclick="editEntry('{{data['title']}}', '{{data['artist']['name']}}', '{{id}}', this.parentElement.parentElement.id)" class="edit-icon fas fa-edit"></i>
            </li>
          {% endfor %}
        {% endif %}
        </ul>
      </div>
      <div class="list-container col-12 col-md-4 bg-dark text-white">
        <h3 class="text-center">Learning</h3>
        <ul id="learning" class="sortable dropzone list-group">
        {% if session["repertoir"]["learning"] %}
        {% for id, data in session["repertoir"]["learning"].items() %}
          <li id="_{{id}}" draggable="true"class="song-box list-group-item mb-2 p-1">
            <h6 class="mb-0">
              <a class="songTitle" href="{{data['link']}}">{{data["title"]}}</a>
              {% if data["tags"] %}
                {% for tag in data["tags"]%}
                <span class="song-tag badge badge-primary">{{tag}}</span>
                {% endfor %}
              {% endif %}
            </h6>
            <p class="mb-0">by <a class="artist" href="{{data['artist']['link']}}">{{data["artist"]["name"]}}</a></p>
            <i hidden title="Delete Item" onclick="deleteSong('{{id}}', this.parentElement.parentElement.id)" class="trash-icon fas fa-trash"></i>
            <i hidden title="Search for sheet music" onclick="searchForSheets(String.raw`{{data['artist']['name'] + ' - ' + data['title']}}`)" class="sheet-icon fas fa-scroll fa-flip-vertical"></i>
            <i hidden title="Edit Item" onclick="editEntry('{{data['title']}}', '{{data['artist']['name']}}', '{{id}}', this.parentElement.parentElement.id)" class="edit-icon fas fa-edit"></i>
          </li>
        {% endfor %}
        {% endif %}
        </ul>
      </div>
      <div class="list-container col-12 col-md-4 bg-dark text-white">
        <h3 class="text-center">Learned</h3>
        <ul id="learned" class="dropzone sortable list-group">
          {% if session["repertoir"]["learned"] %}
          {% for id, data in session["repertoir"]["learned"].items() %}
            <li id="_{{id}}" draggable="true"class="song-box list-group-item mb-2 p-1">
              <h6 class="mb-0">
                <a class="songTitle" href="{{data['link']}}">{{data["title"]}}</a>
                {% if data["tags"] %}
                  {% for tag in data["tags"]%}
                  <span class="song-tag badge badge-primary">{{tag}}</span>
                  {% endfor %}
                {% endif %}
              </h6>
              <p class="mb-0">by <a title="artist's deezer page" class="artist" href="{{data['artist']['link']}}">{{data["artist"]["name"]}}</a></p>
              <i hidden title="Delete Item" onclick="deleteSong('{{id}}', this.parentElement.parentElement.id)" class="trash-icon fas fa-trash"></i>
              <i hidden title="Search for sheet music" onclick="searchForSheets(String.raw`{{data['artist']['name'] + ' - ' + data['title']}}`)" class="sheet-icon fas fa-scroll fa-flip-vertical"></i>
              <i hidden title="Edit Item" onclick="editEntry('{{data['title']}}', '{{data['artist']['name']}}', '{{id}}', this.parentElement.parentElement.id)" class="edit-icon fas fa-edit"></i>
            </li>
          {% endfor %}
          {% endif %}
        </ul>
      </div>
    </div>
    <div id="modal">
      <div id="modal-content" class="bg-light">
        <span id="close-modal">&times;</span>
        <h4 id="modal-title"></h4>
        <h6 id="modal-artist"></h6>
        <label for="track-tempo">Track Tempo Progress?</label>
        <input id="track-tempo" type="checkbox" onchange="toggleTrackTempo(this)">
        <div id="tempo-track-container" hidden>
          <span id="current-tempo"></span>
          <input type="text" id="desired-tempo" class="form-control" onchange="updateDesiredTempo(this)"></input>
          <input id="tempo-meter" type="range" max="400", min="0" value="120" onchange="updateTempoMeter(this)" class="form-control-range">
        </div>
        <div class="input-group tag-options-container">
          <label for="tag-edit">Give this song a tag</label>
          <input id="tag-edit" type="text">
          <div class="input-group-append">
            <button onclick="applyTag(this.parentElement.previousElementSibling.value)" class="btn btn-outline-dark">+</button>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <h1 class="text-center"><a href="/" class="text-decoration-none text-white"><i class="fas fa-music"></i> Repertoirium <i class="fas fa-music"></i></a></h1>
    <div class="container mt-4 bg-dark">
      <h4 class="text-center text-white">Repertoirium is the perfect tool for any musician</h4>
      <div id="welcomeList" class="container">
        <ul class="text-white">
          <li>Manage your repertoir easily</li>
          <li>Search for any song</li>
          <li>track your progress with</li>
        </ul>
      </div>
      <button class="btn btn-light btn-lg m-2" onclick="location.href='/register'">Join Today</button>
      <button class="btn btn-light m-2" onclick="location.href='/login'">Login</button>
    </div>
  {% endif %}
{% endblock %}
