<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - Repertoirium</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/index.css')}}">
    <script src="https://kit.fontawesome.com/0fab13f41f.js" crossorigin="anonymous"></script>
    <link rel="icon" href="{{url_for('static', filename='rep_favicon.png')}}">
    {% block head %}{% endblock %}
  </head>
  <body>
    <script>
      function delete_flash(element){
        element.parentElement.remove()
      }

      function loadSpinner(element, inputs) {
        var leave = inputs.some(input => {
          return input.value < 1
        })
        if (leave) return;
        var spinner = document.createElement("DIV")
        spinner.classList.add("spinner-border", "spinner-border-sm")
        element.appendChild(spinner)
      }
    </script>
    <div id="layoutContainer" class="container p-3">

     {% if "user_id" in session %}
       <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark">
         <a href="/" class="navbar-brand text-white text-center"><i class="fas fa-music"></i> Repertoirium <i class="fas fa-music"></i></a>
         <form action="/" method="post" class="form-inline">
           <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
           <input type="hidden" name="action" value="search">
           <div class="input-group">
             <input id="song-search-input" name="search-term" class="form-control bg-white-50" type="search" placeholder="Search for songs" required>
             <div class="input-group-append">
               <button type="submit" onclick="loadSpinner(this, [document.querySelector('#song-search-input')])" class="btn btn-outline-light">Search </button>
             </div>
           </div>
         </form>
         <form action="/" method="post" class="form-inline">
           <input id="csrf_token" type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
           <input type="hidden" name="action" value="logout">
           <button type="submit" class="btn btn-outline-light">Logout</button>
         </form>
       </nav>
      {% endif %}
      {% with messages = get_flashed_messages() %}
       {% if messages %}
         <ul class="flashes">
            {% for message in messages %}
             <div class="alert alert-secondary" role="alert">
               {{ message }}
               <i id="exitIcon" class="fas fa-times float-right mt-1" onclick="delete_flash(this)"></i>
             </div>
            {% endfor %}
        </ul>
      {% endif %}
     {% endwith %}
     {% block content %}{% endblock %}

    </div>
  </body>
  <footer class="bg-dark">
    <p class="text-center text-white">all song data is from the <a href="https://www.deezer.com">deezer</a> API</p>
  </footer>
</html>
