<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - Repertoirium</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/index.css')}}">
    <script src="https://kit.fontawesome.com/0fab13f41f.js" crossorigin="anonymous"></script>
    <link rel="icon" href="{{url_for('static', filename='images/rep_favicon.png')}}">
    <script type="text/javascript" src="/static/js/layout.js" defer></script>
    {% block head %}{% endblock %}
  </head>
  <body class="bg-light">
    <div id="layoutContainer" class="container p-3">
     {% if "user_id" in session %}
       <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark border-bottom">
         <a href="/" class="navbar-brand text-white text-center"><i class="fas fa-music"></i> Repertoirium <i class="fas fa-music"></i></a>
         <form name="searchForSong" action="/" method="post" class="form-inline">
           <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
           <input type="hidden" name="action" value="search">
           <div class="input-group">
             <input id="song-search-input" name="search-term" class="form-control bg-white-50" type="search" placeholder="Search for songs" required>
             <div class="input-group-append">
               <button id="search-for" type="submit" onclick="loadSpinner(this, [document.querySelector('#song-search-input')])" value="Save" class="btn btn-outline-light">Search </button>
             </div>
           </div>
         </form>
         <a class="navbar-text text-white mr-3 ml-3" href="/chat">Rep Chat</a>
         <div class="dropdown">
           <button id="account-dropdown-toggle" onclick="accountDropdown(this.nextElementSibling)" class="btn btn-outline-light dropdown-toggle">Account</button>
           <div id="account-dropdown" class="dropdown-menu">
             <form action="/" method="post" class="form-inline">
               <input id="csrf_token" type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
               <input type="hidden" name="action" value="logout">
               <button type="submit" class="dropdown-item">Logout</button>
             </form>
             <a class="dropdown-item mr-3" onclick="">Change Username</a>
             <a class="dropdown-item text-danger mr-3" onclick="areYouSureModal('reset')">Reset Account</a>
             <a class="dropdown-item text-danger mr-3" onclick="areYouSureModal('delete')">Delete Account</a>
           </div>
         </div>

       </nav>
       <div id="are-you-sure-modal">
         <div id="are-you-sure-content" class="bg-light">
           <span class="close-modal" onclick="closeModal(this.parentElement.parentElement)">&times;</span>
           <h4 id="ays-modal-title"></h4>
           <p id="ays-modal-description"></p>
           <button class="btn btn-outline-danger" onclick="loadSpinner(this)" id="continue">Yes</button>
           <button class="btn btn-outline-dark" id="go-back">No</button>
         </div>
       </div>
      {% endif %}
      {% with messages = get_flashed_messages() %}
       {% if messages %}
         <ul class="flashes">
            {% for message in messages %}
             <div class="alert alert-secondary" role="alert">
               {{ message }}
               <i id="exitIcon" class="fas fa-times float-right mt-1 hover-pointer" onclick="delete_flash(this)"></i>
             </div>
            {% endfor %}
        </ul>
      {% endif %}
     {% endwith %}
     {% block content %}{% endblock %}
    </div>
  </body>
  <footer class="bg-dark border-top">
    <p class="text-center text-white">all song data is from the <a href="https://www.deezer.com">deezer</a> API</p>
  </footer>
</html>
