{% extends "layout.html" %}

{% block title %}Login{% endblock %}
{% block head %}
  <script type="text/javascript" src="/static/js/forms.js" defer></script>
{% endblock %}
{% block content %}
<h1 class="text-center"><a href="/" class="text-decoration-none text-white"><i class="fas fa-music"></i> Repertoirium <i class="fas fa-music"></i></a></h1>
  <div id="loginContainer" class="form-container container bg-dark p-3 mt-5 text-center text-white">
    <h1>Login</h1>
    <form action="" method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <div class="form-group">
        <label for="username">Username</label>
        <input id="user-input" name="username" class="form-field form-control col-6 offset-3" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input id="pass-input" type="password" name="password" class="form-field form-control col-6 offset-3" required>
        <small class="text-secondary" onclick="togglePasswordReveal(this)">Show Password <i class="fas fa-eye"></i></small>
      </div>
      <div class="form-group text-center">
        <button onclick="loadSpinner(this, [document.querySelector('#user-input'), document.querySelector('#pass-input')])" class="btn btn-outline-light">Submit </button>
      </div>
    </form>
    <span>Don't have an account? <a href="/register">Register here.</a></span>
  </div>
{% endblock %}
