{% extends "layout.html" %}

{% block title %}Register{% endblock %}
{% block head %}
  <script type="text/javascript" src="/static/js/forms.js" defer></script>
{% endblock %}
{% block content %}
  <h1 class="text-center"><a href="/" class="text-decoration-none text-white"><i class="fas fa-music"></i> Repertoirium <i class="fas fa-music"></i></a></h1>
  <div class="form-container container bg-dark p-3 mt-5 text-center text-white">
    <h1>Register</h1>
    <form action="{{ url_for('register')}}" method="post" role="form">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <div class="form-group">
        <label for="username">Username</label>
        <input id="user-input" name="username" class="form-field form-control col-6 offset-3" onfocusout="checkUsername(this.value)" required>
        <p id="usernameHelp"></p>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input id="pass-input" type="password" name="password" class="form-field form-control col-6 offset-3" oninput="checkPasswordMatch(), checkPasswordStrength(this.value)" required>
        <small class="text-secondary" onclick="togglePasswordReveal(this)">Show Password <i class="fas fa-eye"></i></small>
        <p id="passwordHelp"></p>
      </div>
      <div class="form-group">
        <label for="confirm-password">Confirm Password</label>
        <input id="confirm-pass-input" type="password" name="confirm-password" class="form-field form-control col-6 offset-3" oninput="checkPasswordMatch()" required>
        <p id="confirmPasswordHelp"></p>
      </div>
      <div class="form-group text-center">
        <button id="register-submit" onclick="loadSpinner(this, [document.querySelector('#user-input'), document.querySelector('#pass-input')])" class="btn btn-outline-light">Submit </button>
      </div>
    </form>
    <span>Already have an account? <a href="/login">Login here.</a></span>
  </div>
{% endblock %}
