{% extends "layout.html" %}

{% block title %}Search{% endblock %}
{% block head %}
<script type="text/javascript" src="/static/js/search.js"></script>
{% endblock %}
{% block heading %}
  <h1 class="text-center">Search</h1>
{% endblock %}

{% block content %}
  <h3>results for <em>{{session["q"]}}</em>:</h3>
  <ul class="list-group">
    {% for result in results %}
      <li class="list-group-item">
        <h4>{{result["title"]}} by {{result["artist"]["name"]}}</h4>
        <img src='{{result["album"]["cover"]}}'>
        <i onclick="togglePlay(this, '{{result['preview']}}')" class="fas fa-play"></i>
        {% if result["id"] not in session["ids"] %}
          <form action="/search" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input name="song-data" type="hidden" value="{{result}}">
            <button class="btn btn-primary" type="submit">add to repertoirium?</button>
          </form>
        {% else %}
          <h5 class="text-primary"><i class="fas fa-check"></i> in repertoir</h5>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endblock %}
