{% extends "layout.html" %}

{% block title %}Search{% endblock %}
{% block heading %}
  <h1 class="text-center">Search</h1>
{% endblock %}

{% block content %}
  <h3>results for <em>{{q}}</em>:</h3>
  <ul class="list-group">
    {% for result in results %}
      <li class="list-group-item">
        <h4>{{result["title"]}} by {{result["artist"]["name"]}}</h4>
        <img src='{{result["album"]["cover"]}}'>
        <a href='{{result["link"]}}'>Listen <i class="fas fa-play"></i></a>
        <form action="/search" method="post">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <input name="song-data" type="hidden" value="{{result}}">
          <button class="btn btn-primary" type="submit">add to repertoirium?</button>
        </form>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
