{% extends "layout.html" %}

{% block title %}Search{% endblock %}
{% block head %}
<script type="text/javascript" src="/static/js/search.js"></script>
{% endblock %}

{% block content %}
  <h3 class="text-white">Search results for <em class="text-primary">{{session["q"]}}</em>:</h3>
  <div id="results-container" class="container mt-5">
    <ul class="list-group">
      {% for result in results %}
        <li class="result-box list-group-item mb-2 p-1">
          <h4>{{result["title"]}} - {{result["artist"]["name"]}}</h4>
          <div class="result-row row">
            <div class="image-box p-0 ml-3">
              <img style="width:50px;"class="result-image" src='{{result["album"]["cover"]}}'>
            </div>
            <div class="play-pause-icon-box p-3">
              <i onclick="togglePlay(this, '{{result['preview']}}')" class="fas fa-play"></i>
            </div>
            {% if result["id"] not in session["ids"] %}
              <form action="/search" method="post" class="form-group m-0">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input name="song-data" type="hidden" value="{{result}}">
                <div class="m-2">
                  <button class="btn btn-outline-dark" type="submit">Add to Repertoirium</button>
                </div>
              </form>
            {% else %}
              <h5 class="text-dark m-3"><i class="fas fa-check"></i> in repertoir</h5>
          </div>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
