i:hover {
  cursor: pointer;
}

.song-box {
  cursor: grab;
  opacity: .8;
}

.song-box.dragging {
  opacity: .5;
}

.song-box:active {
  cursor: grabbing;
}

.dropzone {
  list-style-type: none;
  min-height: 200px;
}

#layoutContainer {
  background-image: url("../rep_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 100%;
  min-height: 100%;
}

.trash-icon {
  color: gray;
}

.sheet-icon {
  color: gray;
}

.trash-icon:hover {
  color: red;
  font-size: 110%;
}

.sheet-icon:hover {
  color: black;
  font-size: 110%;
}

.songTitle {
  color: gray;
}

.songTitle:hover {
  color: black;
}

.artist {
  color: lightgray;
}

.artist:hover {
  color: black;
}

body, html {
  height: 100%;
}

nav {
  border-radius: 5px;
}

.list-container {
  border-radius: 10px;
}

#welcomeList {
  width: 60%;
  font-size: 2em;
}

#loginContainer {
  width: 60%;
  border-radius: 10px;
}
