.trash-icon:hover {
  color: red;
}

ul {
  list-style-type: none;
}

i:hover {
  cursor: pointer;
}

.list-highlight-placeholder {
  background: black;
  width: auto;
  height: 50px;
}

.song-box {
  cursor: grab;
}

.song-box.dragging {
  opacity: .5;
}

.song-box:active {
  cursor: grabbing;
}

.fa-scroll:hover {
  color: green;
}

.dropzone {
  min-height: 200px;
}
